/* Estilos compartidos entre ambas páginas */
body {
    background-image: url('https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt670d428d1921eed8/614be30d69b7947c1b3aebd5/9242021_StateofGameplayArticle_Header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}

header a:hover {
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
}

.about-us {
    font-size: 24px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery-item {
    width: 30%;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

